@import '../../vars.css';

.sliderContainer {
    position: relative;
    width: 100%;
    max-width: 100%; /* Ensure it doesn't exceed the parent width */
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
  }
  
  .slider {
    width: auto;
    overflow: hidden; /* Hide any overflow */
    border-radius: 10px;
    margin: 0 15px;
  }
  
  .leftCaret, .rightCaret {
    top: 50%;
    background-color: var(--button-default);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .leftCaret {
    left: 10px;
  }
  
  .rightCaret {
    right: 10px;
  }

  .leftIcon, .rightIcon {
    font-size: 1.2rem;
  }

  .leftIcon {
    transform: translateX(-6%);
  }

  .rightIcon {
    transform: translateX(6%);
  }
  
  .leftCaret:hover, .rightCaret:hover {
    background-color: var(--button-default-hover);
  }  

  @media screen and (max-width: 768px) {
    .sliderContainer {
      width: 50%;
      min-width: 325px;
    }
  }