.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 4em;
    color: var(--button-tertiary);
    margin: 0 0 15px 0;
}

@media screen and (max-width:768px) {
    .title {
        font-size: 3em;
    }
}