@import '../../vars.css';

.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    width: 300px;
    margin: 0 0 15px 0;
}

.Login input{
    font-family: 'Outfit', sans-serif;
    width: 275px;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 5px 35px;
    text-align: center;
    border: 2px solid black;
    margin-top: 5px;
}

.error {
    color: red;
    font-size: 1rem;
    margin-top: 10px;
}

.passwordContainer {
    position: relative;
    display: flex;
    align-items: center;
}
  
.showButton {
    position: absolute;
    right: 10px;
    top: 14px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
}
  

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.buttons button {
    flex: 1;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    border-radius: 10px;
    gap: 5px;
    border: none;
}

.buttons .or {
    display: flex;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 15px;
    gap: 10px;
    width: 275px;
}

.buttons .loginButton {
    background-color: var(--button-primary);

    &:hover {
        background-color: var(--button-primary-hover)
    }
}

.buttons .signupButton {
    background-color: var(--button-secondary);

    &:hover {
        background-color: var(--button-secondary-hover)
    }
}

.buttons .googleButton {
    display: flex;
    align-items: center;
    background-color: #4285F4;
    width: 275px;
    &:hover {
        background-color: #357ae8;
    }
}

.buttons .googleButton .googleIcon {
    width: 30px;
    height: 30px;
    background-color: white;
    padding: 2px;
    border-radius: 5px;
    margin-right: 10px;
}

.forgot-password {
    margin-top: 12px;
}

@media screen and (max-width:768px) {
    .logo {
        width: 200px;
    }
}