/* CustomMarker.module.css */
.customDivIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circleMarker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; /* Change as needed */
    border: 1px solid black ; /* Change as needed */
  }

  .self {
    border: 2px solid var(--button-tertiary) ; /* Change as needed */
  }
  
  .profilePicture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
