@import '../../vars.css';

hr {
    margin: 20px 0;
    opacity: 0.5;
}

.section p {
    font-family: var(--font-roboto);
}

.section .sectionLabel {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 5px;
}

.section input, .section select {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    border: 2px solid black;
}

.section option {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
}


.section .radiusInput {
    padding: 0;
}   

.gameModes label {
    position: relative;
    font-size: 1rem;
    font-weight: 600;
}

.gameModes label:not(:last-child), .gameModes label input{
    margin-right: 10px;
}

.startingLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
} 

.startingLocation .locationName {
    font-family: var(--font-roboto);
    margin-left: 15px;
    font-weight: bold;
}

.locationName {
    font-weight: bold;
    margin-bottom: 5px;
}