.LobbyView {
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.lobbyCode {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.lobbyCode .icon {
    font-size: 1.5rem;

    &:hover {
        cursor: pointer;
        transition: opacity 0.5s ease;
        opacity: 0.9;
    }
}

.lobbyLeft, .lobbyRight {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.lobbyLeft {
    flex: 3;
}

.lobbyRight {
    flex: 2;
    align-items: last baseline
}

.playerInfo {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.playerInfo ul {
    list-style-type: none;
    padding: 0;
}

.playerInfo li {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.playerInfo .inRange {
    margin-top: 22px;
}

.map {
    width: 400px;
    aspect-ratio: 1/1;
    border-radius: 15px;
    overflow: hidden;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.buttons button {
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    border-radius: 10px;
    gap: 5px;
    border: none;
}

.buttons .startButton {
    background-color: var(--button-secondary);

    &:hover, &:focus, &:active {
        background-color: var(--button-secondary-hover);
    }

    &:disabled {
        background-color: var(--button-disabled);
        cursor: not-allowed;
    }
}

.buttons .leaveButton {
    background-color: var(--button-tertiary);

    &:hover, &:focus, &:active {
        background-color: var(--button-tertiary-hover);
    }

    &:disabled {
        background-color: var(--button-disabled);
        cursor: not-allowed;
    }
}

.gameDetails {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.mobileInfo {
    display: none;
    position: relative;
}

.mobileInfo .infoButtons {
    position: absolute;
    right: 0;
    top: -15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.mobileInfo .infoButtons button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-primary);
    color: white;
    border: none;

    &:hover, &:focus, &:active {
        background-color: var(--button-primary-hover);
    }
}

.mobileInfo .infoButtons .players {
    border-radius: 10px 0 0 10px;
}

.mobileInfo .infoButtons .info {
    border-radius: 0 10px 10px 0;
}

.mobileInfo .infoButtons .selected {
    background-color: var(--button-primary-hover);
    scale: 0.98;
}

.mobileInfo .infoButtons button .icon {
    font-size: 1.2rem;
}

@media screen and (max-width: 850px) {
    .LobbyView {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 15px 10px 0 10px;
    }

    .map {
        width: 100vw;
        max-height: 50vh;
        border-radius: 15px 15px 0 0;
    }

    .stats {
        display: none;
    }

    .gameDetails {
        display: none;
    }

    .playerInfo {
        display: none;
    }

    .lobbyCode {
        justify-content: center;
    }

    .lobbyCode h1 {
        font-size: 1.75rem;
    }

    .mobileInfo {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .mobileInfo .gameDetails {
        display: flex;
        flex-direction: column;
        max-width: 95dvw;
    }

    .mobileInfo .playerInfo {
        display: flex;
        flex-direction: row;
    }

    .startButton {
        position: relative;
        left: 0;
        bottom: 0;
    }

    .lobbyLeft {
        width: 100%;
    }

    .lobbyRight {
        flex-direction: column-reverse;
        align-items: normal;
        gap: 10px;
    }

    .buttons {
        padding: 0 10px;
        justify-content: center;
    }

    .buttons button {
        width: 100%;
    }
}