.LobbyView {
    height: 100vh;
    width: 100vw;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.lobbyLeft, .lobbyRight {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.lobbyLeft {
    flex: 3;
}

.lobbyRight {
    flex: 1;
}

.playerInfo {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.playerInfo ul {
    list-style-type: none;
    padding: 0;
}

.playerInfo .inRange {
    margin-top: 22px;
}

.map {
    width: 20vw;
    aspect-ratio: 1/1;
}