@import "../../vars.css";

.Home {
    position: fixed;
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.pfp {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid black;
}

.userInfo {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.pfp {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 50%;
  margin-left: 10px;
}

.menu {
  position: absolute;
  top: 50px; /* Adjust position as needed */
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 10px 20px;
  cursor: pointer;
}

.menu li:hover {
  background-color: #f0f0f0;
}

.main {
    font-size: 14px;
    text-align: center
}

.title {
    font-size: 4em;
    color: red;
    margin: 15px 0;
}

.gameCode {
    font-size: 2em;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 30px;
    text-align: center;
    border: 2px solid black;
}

.buttons {
    margin: 15px 0;
}

.buttons button {
    font-size: 1.5em;
    font-family: var(--font-roboto);
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    border: 0px solid black;
    color: var(--color-text);
}

.buttons .joinButton {
    background-color: var(--button-primary);
    color: white;
    cursor: pointer;

    &:hover, &:focus, &:active {
        background-color: var(--button-primary-hover);
    }

    &:disabled{
        background-color: var(--button-disabled);
        cursor: not-allowed;
    }
}

.buttons .createButton {
    background-color: var(--button-secondary);
    color: white;
    cursor: pointer;

    &:hover, &:focus, &:active {
        background-color: var(--button-secondary-hover);
    }

    &:disabled{
        background-color: var(--button-disabled);
        cursor: not-allowed;
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 3em;
    }

    .gameCode {
        font-size: 1.5em;
    }
}